<!-- your html code here -->
<div class="container mt-3" id="Contact" style="background-color: rgb(255, 255, 255);">
    <h1> Contact</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit torquent potenti, nisi aptent fermentum. Proin eget
        tempus ridiculus metus placerat aliquam tincidunt, sollicitudin mus auctor ad eu aptent porta ornare, dignissim
        magna at pellentesque vehicula laoreet. Sem montes praesent nisi porttitor quisque ut non gravida, ante tellus
        penatibus cras varius duis nostra ad, convallis condimentum at dui ac molestie mus.</p>
    <div class="d-flex justify-content-center">
        <form class=" w-75 rounded shadow-sm border mb-3" style="background-color:rgb(245, 245, 245)">
            <div class=" p-5">
                <div class="mb-3 row">
                    <label  class="col-3 form-label"><strong>Your E-mail</strong></label>
                    <div class="col-9">
                        <input type="email" placeholder="Your Email" class="form-control">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label  class="col-3 form-label " ><strong>Your Message</strong></label>
                    <div class="col-9">
                        <textarea name="" id="" class="form-control" placeholder="Your Message" style="height: 100px;"></textarea>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>