<!-- your html code here -->
<div style="max-width: 1700px; margin: 0 auto; padding: 0 12px;">
    <h2>Porfolio</h2>
    <p style="font-size: large;">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent
        commodo
        cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>

    <div class="row">

        <div class="col-4" style="padding: 10px;">
            <img src="./assets/img/big-project-image.png" width="100%" height="300" alt="Imagen-fondo"
                style="margin-bottom: 20px;">
            <h3 style="color:rgb(44, 134, 252);">Project Name</h3>
            <p>Lorem ipsum dolor sit amet, consecteur adispiscing elit. Nam viverra euismod odio, gravida pellentesque
                urnavarius vitae.</p>
        </div>

        <div class="col-4" style="padding: 10px;">
            <img src="./assets/img/big-project-image.png" width="100%" height="300" alt="Imagen-fondo"
                style="margin-bottom: 20px;">
            <h3 style="color:rgb(44, 134, 252);">Project Name</h3>
            <p>Lorem ipsum dolor sit amet, consecteur adispiscing elit. Nam viverra euismod odio, gravida pellentesque
                urnavarius vitae.</p>
        </div>

        <div class="col-4" style="padding: 10px;">
            <img src="./assets/img/big-project-image.png" width="100%" height="300" alt="Imagen-fondo"
                style="margin-bottom: 20px;">
            <h3 style="color:rgb(44, 134, 252);">Project Name</h3>
            <p>Lorem ipsum dolor sit amet, consecteur adispiscing elit. Nam viverra euismod odio, gravida pellentesque
                urnavarius vitae.</p>
        </div>

    </div>
</div>